.blobs{
    background: linear-gradient(100.97deg,  #e2e8f0 21.56%,  #e2e8f0 84.43%);
    background-blend-mode: multiply;
    z-index: 80;
}


.blobs::before{
    background: linear-gradient(100.97deg, #6425D3 21.56%, #A259FF 84.43%);
    background-image:  
                url(../../Assets/Ellipse\ 8.svg),
                url(../../Assets/Ellipse\ 6.svg),
                url(../../Assets/Ellipse\ 7.svg);
    background-position: 
                        8rem 3rem,
                        1rem 13rem,
                        10rem 7rem;
    background-repeat: no-repeat !important;
    background-blend-mode: multiply;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.blobs::after{
    background: linear-gradient(100.97deg, #6425D3 21.56%, #A259FF 84.43%);
   z-index: 80;
   background-blend-mode: multiply;
}