.form{
  background-image: 
              url(../../Assets/Ellipse\ 1.svg);
  background-position: 
                      0rem 0rem;
  background-repeat: no-repeat !important;
  background-blend-mode: multiply;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.blobs{
 background-image:
        url(../../Assets/Ellipse\ 2.svg);
background-position:
       9rem 6rem;
       background-repeat: no-repeat !important;
       background-blend-mode: multiply;
       content: '';
       height: 100%;
       position: absolute;
       width: 100%;    
}

.blob{
  background-image:
     url(../../Assets/Subtract\.svg);
   background-position:
              right top;
          background-repeat: no-repeat !important;
          background-blend-mode: multiply;
          content: '';
          /* float:right; */
          height: 100%;
          position: absolute;
          width: 100%;    
}

.poly{
  background-image:
   url(../../Assets/Polygon\ 3.svg);
  background-position:
  right bottom; 
background-repeat: no-repeat !important;
background-blend-mode: multiply;
content: '';
height: 100%;
position: absolute;
width: 100%;    
}

.poly1{
  background-image:
   url(../../Assets/Polygon\ 2.svg);
  background-position:
    right bottom; 
background-repeat: no-repeat !important;
background-blend-mode: multiply;
content: '';
height: 100%;
position: absolute;
width: 100%;    
}

.poly2{
  background-image:
   url(../../Assets/Polygon\ 1.svg);
  background-position:
      right bottom -2rem;
background-repeat: no-repeat !important;
background-blend-mode: multiply;
content: '';
height: 100%;
position: absolute;
width: 100%;    
}

